@tailwind base;
  @tailwind components;
  @tailwind utilities;
  @import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 
   body {
       --sb-track-color: #000000;
       --sb-thumb-color: #ffffff;
       --sb-size: 5px;
     }
     body{
      position: relative;
      background-color: #000000;
     }
     footer{
      position: absolute;
      bottom: 0;
     }
     body::-webkit-scrollbar {
       width: var(--sb-size)
     }
     
     body::-webkit-scrollbar-track {
       background: var(--sb-track-color);
       border-radius: 0px;
       -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
       -ms-border-radius: 0px;
       -o-border-radius: 0px;
   }
     
     body::-webkit-scrollbar-thumb {
       background: var(--sb-thumb-color);
       border-radius: 0px;
       -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
       -ms-border-radius: 0px;
       -o-border-radius: 0px;
   }
   .ar{
    font-family: "Amiri", serif !important;
   }
   .mBlur{
    -webkit-backdrop-filter: blur(25px);
            backdrop-filter: blur(25px);
   }
     @supports not selector(::-webkit-scrollbar) {
       body {
         scrollbar-color: var(--sb-thumb-color)
                          var(--sb-track-color);
       }
     }

    
   .my-Ainme{ animation: myAnim 5s ease 0s infinite   forwards; -webkit-animation: myAnim 5s ease 0s infinite   forwards; }
   @keyframes myAnim {

     0% {
       /* -webkit-transform: translateX(1000px) ;
              transform: translateX(1000px) ;
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;  */
              width: 100%;
    }

    100% {
           
              width: 0%;


}
  }
  .bg-blur {
    background-image: url(../public//Images//b2.png);
  }
  .float{
    animation: float 6s ease-in-out infinite;
  }
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }
 
   .dots{
     background-image: url(../public//Images//dots.png);
     background-repeat: repeat;
   }
   .scale-up-hor-right {
     -webkit-animation: scale-up-hor-right 10s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate forwards;
             animation: scale-up-hor-right 10s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate forwards;
   }
    @-webkit-keyframes scale-up-hor-right {
     0% {
       -webkit-transform: scaleX(0.4);
               transform: scaleX(0.4);
       -webkit-transform-origin: 100% 100%;
               transform-origin: 100% 100%;
     }
     100% {
       -webkit-transform: scaleX(1);
               transform: scaleX(1);
       -webkit-transform-origin: 100% 100%;
               transform-origin: 100% 100%;
     }
   }
   @keyframes scale-up-hor-right {
     0% {
       -webkit-transform: scaleX(0.4);
               transform: scaleX(0.4);
       -webkit-transform-origin: 100% 100%;
               transform-origin: 100% 100%;
     }
     100% {
       -webkit-transform: scaleX(1);
               transform: scaleX(1);
       -webkit-transform-origin: 100% 100%;
               transform-origin: 100% 100%;
     }
   }
   
   .menu li > :not(ul, .menu-title, details, .btn):active, .menu li > :not(ul, .menu-title, details, .btn).active, .menu li > details > summary:active{
     background-color: #ffffff00 !important;
   }
   :where(.menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)):not(summary, .active, .btn).focus, :where(.menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)):not(summary, .active, .btn):focus, :where(.menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)):is(summary):not(.active, .btn):focus-visible, :where(.menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)):not(summary, .active, .btn).focus, :where(.menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)):not(summary, .active, .btn):focus, :where(.menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)):is(summary):not(.active, .btn):focus-visible{background-color: #ffffff00 !important;
     background-color: #ffffff00 !important;
     color: #00dc82 !important;
   }
   :where(.menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)):not(summary, .active, .btn):focus{
     background-color: #ffffff00 !important;
     color: #00dc82 !important;
   
   }
   
   .myHover:hover .child-effect{
     border: solid 4px #00dc82 !important;
   } 
   
   .myHover:hover .child2{
     border: solid 4px #00dc82 !important;
   } 
   .hoverChanger{
     color: #00dc82 !important;
   }
   .myHover:hover h3 , .hoverChanger{
     color: #020420 !important;
   } 


/*  */
.my-Hover .child-effect{
  border: solid 4px #00dc82 !important;
} 

.my-Hover .child2{
  border: solid 4px #00dc82 !important;
} 
.hoverChanger{
  color: #00dc82 !important;
}
.my-Hover h3 , .hoverChanger{
  color: #020420 !important;
} 



.scale-Btn-an {
	-webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-Btn {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes  scale-Btn  {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}



   
   :where(.menu li:not(.menu-title, .disabled) > *:not(ul, details, .menu-title)):not(.active, .btn):hover, :where(.menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)):not(.active, .btn):hover{
    background-color: transparent !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
            -webkit-transform: translateY(400px);
            transform: translateY(400px);
            opacity: 0;
            -moz-transform: translateY(400px);
            -ms-transform: translateY(400px);
            -o-transform: translateY(400px);
}
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}




  .Scroll-Edit::-webkit-scrollbar{
    width: 0px !important;
  }
  .Scroll-Edit::-webkit-scrollbar-thumb{
    background-color: #020420 !important;
  }
.borderGlass{
border: 1px solid #ffffff1f !important;

}
  .glass{
background: rgba(255, 255, 255, 0.015);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.12);
  }

.rounded-circle{ border-radius: 50% !important; -webkit-border-radius: 50% !important; -moz-border-radius: 50% !important; -ms-border-radius: 50% !important; -o-border-radius: 50% !important;
}
.rounded-4xl{
  border-radius: 9999px !important;
  -webkit-border-radius: 9999px !important;
  -moz-border-radius: 9999px !important;
  -ms-border-radius: 9999px !important;
  -o-border-radius: 9999px !important;
}
.glassNo{
  background: rgba(255, 255, 255, 0.015);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.12);
    }
  .leftAnimation{
    animation: Entrance 0.09s ease 0s 1 normal forwards;
    -webkit-animation: Entrance 0.09s ease 0s 1 normal forwards;
}
  @keyframes Entrance {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: translateX(-250px);
    }
  
    38% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateX(0);
    }
  
    55% {
      animation-timing-function: ease-in;
      transform: translateX(-68px);
    }
  
    72% {
      animation-timing-function: ease-out;
      transform: translateX(0);
    }
  
    81% {
      animation-timing-function: ease-in;
      transform: translateX(-28px);
    }
  
    90% {
      animation-timing-function: ease-out;
      transform: translateX(0);
    }
  
    95% {
      animation-timing-function: ease-in;
      transform: translateX(-8px);
    }
  
    100% {
      animation-timing-function: ease-out;
      transform: translateX(0);
    }
  }

  .non-Round{
    border-radius: 0% !important;
    -webkit-border-radius: 0% !important;
    -moz-border-radius: 0% !important;
    -ms-border-radius: 0% !important;
    -o-border-radius: 0% !important;
}

.green-bottom{
  border-bottom: #00dc82 2px solid !important;
}

@media (min-width: 1024px) {
  .loader {
    width: 160px !important;
  }
}
.loader {
  width: 80px;
  aspect-ratio: 1;
  --c: linear-gradient(#ffffff 0 0);
  --r1: radial-gradient(farthest-side at bottom,#ffffff 93%,#0000);
  --r2: radial-gradient(farthest-side at top   ,#ffffff 93%,#0000);
  background: 
    var(--c) ,var(--r1),var(--r2),
    var(--c) ,var(--r1),var(--r2),
    var(--c) ,var(--r1),var(--r2);
  background-repeat: no-repeat;
  animation: l2 1s infinite alternate;
}
@keyframes l2 {
  0%,25% {
    background-size: 8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(50% - 2px),0 calc(50% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 50% {
    background-size: 8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 75% {
    background-size: 8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
 }
 95%,100% {
    background-size: 8px 100%,8px 4px, 8px 4px,8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px;
    background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(0% - 2px),100% calc(100% + 2px);
 }
}
@keyframes l2 {
    100% {background-size:110%}
}


.loaderwORD{
  color: transparent;
  overflow:hidden;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow:0 0 #FFF, 5em 0 #FFF;
  animation:marquee 2s infinite ease;
  -webkit-animation:marquee 2s infinite ease;
}
.loaderwORD:before {
  content:"Loading...";
}

@keyframes marquee {to{text-shadow:-5em 0 #FFF, 0 0 #FFF}}

.bg{
  color:#00000014
}

  
  @keyframes rotation {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg)}
  } 





  /* loader2 */
  .loader2, .loader2:before {
    display: inline-block;
    border: 20px double transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    box-sizing: border-box;
  }
  .loader2 {
    padding: 8px;
    animation: wifiLoading 1s ease-in infinite;
  }
  .loader2:before {
    content: '';
    width: 0; height: 0;
  }
  @keyframes wifiLoading {
    0% { border-style: none}
    100% { border-style: double}
  }
        

  .dot{
    position: relative;
padding-bottom: 0.25rem;
  }


  .dot::before{
    content: '';
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,0) 50%, #ffffff 100%);
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 1.5rem;
  }


  .liner{
    background-image: radial-gradient(78.57% 78.57% at 50.65% .84%,#020420 0,#ffffff 0, #020420 100%);
  }



  .gradient{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 68%, rgba(2,4,32,1) 88%);
  }
@media (min-width: 1024px) {
  .top_up{
    margin-top: -18rem !important;
  }
}
  
  @media (min-width: 1150px) {
    .top_up{
      margin-top: -20rem !important;
    }
  }
  @media (min-width: 1280px) {
    .top_up{
      margin-top: -25rem !important;

    }
  }
  @media (min-width: 1536px) {
    .top_up{
      margin-top: -30rem !important;
  }
}

.maxBlur{
background: rgb(0 0 0 / 25%);
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(15px);

}

.naVglass{
background: #00000023;
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(15px);
border: 1px solid rgba(255, 255, 255, 0.3);
}



