@tailwind base;
  @tailwind components;
  @tailwind utilities;

  body {
  
    background-color: #020420;
   }
   
   body {
       --sb-track-color: #020420;
       --sb-thumb-color: #00dc82;
       --sb-size: 5px;
     }
     
     body::-webkit-scrollbar {
       width: var(--sb-size)
     }
     
     body::-webkit-scrollbar-track {
       background: var(--sb-track-color);
       border-radius: 0px;
       -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
       -ms-border-radius: 0px;
       -o-border-radius: 0px;
   }
     
     body::-webkit-scrollbar-thumb {
       background: var(--sb-thumb-color);
       border-radius: 0px;
       -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
       -ms-border-radius: 0px;
       -o-border-radius: 0px;
   }
     
     @supports not selector(::-webkit-scrollbar) {
       body {
         scrollbar-color: var(--sb-thumb-color)
                          var(--sb-track-color);
       }
     }


    
   .my-Ainme{ animation: myAnim 5s ease 0s infinite alternate  forwards; -webkit-animation: myAnim 5s ease 0s infinite alternate  forwards; }
   @keyframes myAnim {

     0% {
      -webkit-transform: translateX(1000px) ;
              transform: translateX(1000px) ;
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
      
      opacity: 0;
    }
    50%{
      transform: translateX(0px) ;
      -webkit-transform: translateX(0px) ;
      -moz-transform: translateX(0px) ;
      -ms-transform: translateX(0px) ;
      -o-transform: translateX(0px) ;
}
    100% {
              -webkit-transform: translateX(-1500px) ;
              transform: translateX(-1500px) ;
              -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
              opacity: 1;
              -moz-transform: translateX(-2000px) ;
              -ms-transform: translateX(-2000px) ;
              -o-transform: translateX(-2000px) ;
}
  }
   
   
   
   .dots{
     background-image: url(../public//Images//dots.png);
     background-repeat: repeat;
   }
   .scale-up-hor-right {
     -webkit-animation: scale-up-hor-right 10s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate forwards;
             animation: scale-up-hor-right 10s cubic-bezier(0.390, 0.575, 0.565, 1.000) infinite alternate forwards;
   }
    @-webkit-keyframes scale-up-hor-right {
     0% {
       -webkit-transform: scaleX(0.4);
               transform: scaleX(0.4);
       -webkit-transform-origin: 100% 100%;
               transform-origin: 100% 100%;
     }
     100% {
       -webkit-transform: scaleX(1);
               transform: scaleX(1);
       -webkit-transform-origin: 100% 100%;
               transform-origin: 100% 100%;
     }
   }
   @keyframes scale-up-hor-right {
     0% {
       -webkit-transform: scaleX(0.4);
               transform: scaleX(0.4);
       -webkit-transform-origin: 100% 100%;
               transform-origin: 100% 100%;
     }
     100% {
       -webkit-transform: scaleX(1);
               transform: scaleX(1);
       -webkit-transform-origin: 100% 100%;
               transform-origin: 100% 100%;
     }
   }
   
   .menu li > :not(ul, .menu-title, details, .btn):active, .menu li > :not(ul, .menu-title, details, .btn).active, .menu li > details > summary:active{
     background-color: #ffffff00 !important;
   }
   :where(.menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)):not(summary, .active, .btn).focus, :where(.menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)):not(summary, .active, .btn):focus, :where(.menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)):is(summary):not(.active, .btn):focus-visible, :where(.menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)):not(summary, .active, .btn).focus, :where(.menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)):not(summary, .active, .btn):focus, :where(.menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)):is(summary):not(.active, .btn):focus-visible{background-color: #ffffff00 !important;
     background-color: #ffffff00 !important;
     color: #00dc82 !important;
   }
   :where(.menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)):not(summary, .active, .btn):focus{
     background-color: #ffffff00 !important;
     color: #00dc82 !important;
   
   }
   
   .myHover:hover .child-effect{
     border: solid 4px #00dc82 !important;
   } 
   
   .myHover:hover .child2{
     border: solid 4px #00dc82 !important;
   } 
   .hoverChanger{
     color: #00dc82 !important;
   }
   .myHover:hover h3 , .hoverChanger{
     color: #020420 !important;
   } 
   :where(.menu li:not(.menu-title, .disabled) > *:not(ul, details, .menu-title)):not(.active, .btn):hover, :where(.menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)):not(.active, .btn):hover{
    background-color: transparent !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
            -webkit-transform: translateY(400px);
            transform: translateY(400px);
            opacity: 0;
            -moz-transform: translateY(400px);
            -ms-transform: translateY(400px);
            -o-transform: translateY(400px);
}
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(400px);
            transform: translateY(400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}




  .Scroll-Edit::-webkit-scrollbar{
    width: 0px !important;
  }
  .Scroll-Edit::-webkit-scrollbar-thumb{
    background-color: #020420 !important;
  }

  .glass{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.015);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.12);
  }

.rounded-circle{ border-radius: 50% !important; -webkit-border-radius: 50% !important; -moz-border-radius: 50% !important; -ms-border-radius: 50% !important; -o-border-radius: 50% !important;
}
  .leftAnimation{
    animation: Entrance 0.09s ease 0s 1 normal forwards;
    -webkit-animation: Entrance 0.09s ease 0s 1 normal forwards;
}
  @keyframes Entrance {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
      transform: translateX(-250px);
    }
  
    38% {
      animation-timing-function: ease-out;
      opacity: 1;
      transform: translateX(0);
    }
  
    55% {
      animation-timing-function: ease-in;
      transform: translateX(-68px);
    }
  
    72% {
      animation-timing-function: ease-out;
      transform: translateX(0);
    }
  
    81% {
      animation-timing-function: ease-in;
      transform: translateX(-28px);
    }
  
    90% {
      animation-timing-function: ease-out;
      transform: translateX(0);
    }
  
    95% {
      animation-timing-function: ease-in;
      transform: translateX(-8px);
    }
  
    100% {
      animation-timing-function: ease-out;
      transform: translateX(0);
    }
  }